@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbarCustom::-webkit-scrollbar{
    width: 10px;
    @apply bg-slate-100
}
.scrollbarCustom::-webkit-scrollbar-thumb{
    @apply bg-blue-100 rounded-full
}

.slick-slide > div{
    margin: 0 10px;
}


@layer base{
    section{
        @apply lg:py-[25px] lg:px-[20px];
    }
}

@layer components{
    .container{
        @apply max-w-full  px-5 mx-auto;
    }
}


.heading{
    @apply  text-[18px] lg:text-[28px] font-semibold text-headingColor;
}

.text_para{
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
}

.btn{
    @apply bg-white border border-solid border-secondaryColor py-[10px] px-[35px] rounded-[50px] text-secondaryColor font-[600]
            hover:bg-secondaryColor hover:text-textColor;
}


.form_label{
    @apply text-textColor font-semibold text-[16px] mb-2;
}


.form_input{
    @apply 
    w-full px-4 py-3 bg-blue-50 border border-solid border-gray-400 focus:outline-none
    focus:border-secondaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor
    rounded-md;
}



@media only screen and (max-width:1024px) {
    .container{
        @apply w-full;
    }

    section{
        @apply py-[10px];
    }
}

@media only screen and (max-width:768px){
    .heading{
        @apply text-[20px] leading-[36px];
    }

    .text_para{
        @apply text-[16px] leading-7 mt-3;
    }
}